.img1 {
  height: 500px;
  width: 600px;
  display: block;
}

.smImg{
  height:148px;
  width:148px;
  display: clear;
  margin: 1px;
}

.imgContainer {
  float: left;
}

.descContainer {
  float: right;
  margin-right: 200px;
  margin-top: 250px;
}

.column {
  width: 600px;
}
