
  /* DESKTOP CODE */
  .thumb{
  border: 0px solid #1c1c1c !important;
  width: 0px;
  margin: auto;
  white-space: nowrap;
  }

  .carousel-status{
  display: none;
  }

  .CarWrap{
  width: 50%;
  position: relative;
  display: flex; 
  justify-content: flex-end; 
  margin: 10px;
  overflow-wrap:break-word;
  }
  .instructorContent{
  position: relative;
  z-index: 1;
  left:720px;
  top:-475px;
  display: block;
  margin: 2rem;
  overflow-wrap:break-word;
  }

  /* margin: 0 2em;
  display: inline; */

  /* p{
  width: 100%;
  overflow-wrap:break-word;
  } */
  /* desktop */
  @media (min-width: 1200px) {

    .CarWrap{
    width: 50%;
    position: relative;
    display: flex; 
    justify-content: flex-end; 
    margin: 10px;
    overflow-wrap:break-word;
    }

    .instructorContent{
    position: relative;
    z-index: 1;
    left:720px;
    top:-475px;
    display: block;
    margin: 2rem;
    overflow-wrap:break-word;
    }

    .carousel{
    width: 45rem;
    margin: 0em;
    padding: 1em;
    position: relative;
    margin-left: 5px;
    }

    .slider-wrapper img{
    width: 500px;
    height: 500px;
    }

    .thumbs-wrapper{
    position: absolute; 
    bottom: 33rem;
    left: 107%;
    margin: 0 auto !important;
    }


    li.thumb img{
    width: 50px;
    height: 50px;
    margin: 0 auto !important;
    border-radius: 50% !important;
    border: none !important;
    }
  }

  /* mobile */
  @media (max-width: 1200px) {

    .CarWrap{
    width: 100%;
    }


    .carousel{
    margin: 2em;
    position: relative;
    }
    .instructorContent {
    text-align: center;
    position: relative;
    display: block;
    margin: 1rem;
    }

    .carousel{
    margin: 0em;
    width:100%;
    padding: 1em;
    position: relative;
    margin-left: 5px;
    }

    .slider-wrapper img{
    /* width: 500px;
    height: 500px; */
    }

    .thumbs-wrapper{
    position: relative;
    /* bottom: 33rem; */
    left: 5rem;
    margin: 0 auto !important;
    }


    li.thumb img{
    width: 50px;
    height: 50px;
    margin: 0 auto !important;
    border-radius: 50% !important;
    }

  }

  .instructorContent p {
  width: 45%;
  }

  h1{
  }

  Icon {
  color: white;
  }
